.wy-nav-top {
    background-color:  #db5a6b !important;
}
.wy-side-nav-search {
    background-color: #db5a6b !important;
}

.wy-side-nav-search input[type="text"] {
    border-color: silver !important;;
}

